root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_line = true
trim_trailing_whitespace = true

[*.{d,py,rs,rst,ts,jl,ps1,fs,cs,elm}]
indent_style = space
indent_size = 4

[*.{f90,lua,pp,rb,erb,scala,tf,tfstate,yaml,yml,toml,chpl,proto,rkt,sml,ml,mli,mll,mly,re,rei,jsonnet,sls,atd}]
indent_style = space
indent_size = 2

[dune]
indent_style = space
indent_size = 1
