root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_line = true
trim_trailing_whitespace = true

[*.{bazel,d,elm,fs,proto,ps1,py,rs,rst,ts}]
indent_style = spaces
indent_size = 4

[BUILD]
indent_style = spaces
indent_size = 4

[*.{atd,chpl,erb,erl,ex,exs,f90,jsonnet,lua,ml,mli,mll,mly,pony,rb,re,rei,rkt,scala,scm,sls,sml,tf,tfstate,toml,yaml,yml}]
indent_style = spaces
indent_size = 2

[dune]
indent_style = spaces
indent_size = 1
