root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_line = true
trim_trailing_whitespace = true

[*.{d,py,rs,rst,ts,jl,ps1,fs,cs,elm}]
indent_style = space
indent_size = 4

[*.{f90,lua,pp,rb,erb,scala,tf,tfstate,vcl,yaml,yml,toml,erl,app.src,chpl,proto,rkt,sml,ml,mli,re,jsonnet,sls,nim}]
indent_style = space
indent_size = 2

[Vagrantfile,rebar.config,dune]
indent_style = space
indent_size = 2
