[user]
	useConfigOnly = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	editor = nvim
	excludesfile = ~/.config/gitignore_global
	filemode = true
[diff]
	compactionHeuristic = 1
	indentHeuristic = 1
[color]
	ui = false
[status]
	short = true
	branch = true
[help]
	autocorrect = -1
[format]
	pretty = medium
[push]
	default = current
[http "https://gopkg.in"]
	followRedirects = true
[url "https://"]
	insteadOf = git://
[pull]
	rebase = true
[rebase]
	autoStash = true
[credential]
	helper = !zsh -c 'exec ${HOMEBREW_PREFIX}/opt/git/libexec/git-core/git-credential-netrc get'
