[submodule "langservers/yaml-language-server"]
	path = langservers/yaml-language-server
	url = https://github.com/redhat-developer/yaml-language-server.git
[submodule "langservers/fsharp-language-server"]
	path = langservers/fsharp-language-server
	url = https://github.com/fsprojects/fsharp-language-server.git
[submodule "langservers/reason-language-server"]
	path = langservers/reason-language-server
	url = https://github.com/jaredly/reason-language-server.git
[submodule "langservers/nimlsp"]
	path = langservers/nimlsp
	url = https://github.com/PMunch/nimlsp.git
