[user]
	useConfigOnly = true
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	filemode = true
[diff]
	compactionHeuristic = 1
	indentHeuristic = 1
[color]
	ui = false
[status]
	short = true
	branch = true
[help]
	autocorrect = -1
[format]
	pretty = medium
[push]
	default = current
[http "https://gopkg.in"]
	followRedirects = true
